body{
    background-color:#1E2524;
}

.nav-b{
    background-color:#1E2524;
}
.logo{
    width: 115px;
    height: 50px;
    margin-left: 34px;
}    
.nav2{
    color: white;
}
.nav-btn{
    background: cadetblue;
}

.nav-ul{
    margin-left: 1039px
}
*{font-family: 'Playpen Sans', cursive;
    font-family: 'Rubik Burned', system-ui;
    font-family: 'Salsa', cursive;

}
.ho-h{
    font-size: 20px;
    margin-right: 0px;
    position: relative;
    right: 20px;
    color: white;

}
.ho-h:hover{
  color: aqua;
}



.cont{
    
    width: 99%;
    
}
.nqv-1{
    background-color: red;
}
.na-main{
    background-color:#1E2524;;
    transition: 1s;
    

}
.bg-change{
    background-color:#343B3C;
    transition: 1s;

    
    /* box-shadow: 0px 25px 20px -20px aqua; */
}
.hh{
    color: yellow;
}



/* side bar content change */
@media(max-width: 991px)
{
    .sidebar
    {
        /* From https://css.glass */
      background: rgba(255, 255, 255, 0.05);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.5px);
      -webkit-backdrop-filter: blur(8.5px);
      border: 1px solid rgba(255, 255, 255, 0.48);
        
    }
    .hh{
        color: red;
    }
    .ho-h{
        margin-left: 10px;
    }
    

}
.name-h1{
  font-size: 55px;
}
.h1-abhi{
  color: #FFCB3A;
}

.intro{
  position: relative;
  left: 200px;
  top: 150px;

}
.change-cont{
  font-size: 27px;
}
.intro-p{
  color: white;
  font-size: 20px;
  
}
.profile-div{
  width: 330px;
  position: relative;
  left: 100px;
  top: 65px;
}

@media(max-width: 1091px){


  .profile-div {
    width: 245px;
    position: relative;
    left: 100px;
    top: 113px;
  }
    .intro{
      position: relative;
      left: 60px;
      top: 150px;

    
          
      
        }
      .name-h1
      {
        font-size: 43px;
      }
      .change-cont1{
        font-size: 28px;
        
      }
      .intro-p{
        color: white;
        font-size: 16px;
      }
        
    
    
}

.img1{
  
}


@media(max-width:685px)
{
  .profile-div {
    width: 200px;
    position: relative;
    left: 75px;
    top: 113px;
  }
  .intro{
    position: relative;
    left: 20px;
    top: 150px;

  
        
    
      }
    .name-h1
    {
      font-size: 36px;
    }
    .change-cont1{
      font-size: 24px;
      
    }
    .intro-p{
      color: white;
      font-size: 14px;
    }
}



@media(max-width:580px)
{
  .profile-div {
    width: 180px;
    position: relative;
    left: 130px;
    top: -210px;
  }
  .intro{
    position: relative;
    left: 20px;
    top: 285px;

  
        
    
      }
    .name-h1
    {
      font-size: 30px;
    }
    .change-cont1{
      font-size: 20px;
      
    }
    .intro-p{
      color: white;
      font-size: 12px;
    }
}

@media(max-width:378px)
{
  .profile-div {
    width: 180px;
    position: relative;
    left: 100px;
    top: -160px;
  }
  
}



.name-h11{
    font-size: 20px;
    color: red;
  }



#slidingElement {
    overflow: hidden;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Add opacity transition */
  }

  #content {
    transition: opacity 0.5s ease-in-out; /* Add opacity transition for content */
  }
  #home{
    margin-top: 105px;
    width: 100%;

  }
  
 

  
 
  
  .home-page{

  }

  



  /* about section */

  #About{
    position: relative;
    top: 220px;
  }
  .ab-me{
    text-align: center;
    color: wheat;
    font-size: 59px;

  }
  .col1{
    margin-top: 100px;
  }
  .col2{
    margin-top: 20px;
  }

.ab-main{
  
}
  .ab-para{
    width: 632px;
    color: white;
    position: relative;
    left: 165px;
    top: 60px;
    font-size: 19px;
    text-align: justify;

  }
  .ab-img{
    width: 303px;
    position: relative;
    top: 99px;
    left: 170px;

  }
  .pro-img2{
    border-radius: 30px;
  }

  @media(max-width:1400px){

    .ab-para{
      width: 500px;
      color: white;
      position: relative;
      left: 100px;
      top: 60px;
      font-size: 17px;
      text-align: justify;
  
    }
    .ab-img{
      width: 250px;
      position: relative;
      top: 99px;
      left: 200px;
  
    }
   
  .ab-me{
        display: flex;
        justify-content: center;
        color: wheat;
        font-size: 59px;
        position: relative;
        top: 35px;

       }

       .col1{
        margin-top: 1px;
      }
      .col2{
        margin-top: 20px;
      }


  }
  @media(max-width:1015px){

    .ab-para{
      width: 400px;
      color: white;
      position: relative;
      left: 50px;
      top: 60px;
      font-size: 17px;
      text-align: justify;
  
    }
    .ab-img{
      width: 250px;
      position: relative;
      left: 150px;
      top: 105px;
      
    }
    /* .cont{
    
      width: 
  } */
  .ab-me{
    text-align: center;
    color: wheat;
    font-size: 49px;
    position: relative;
    top: 45px;
    left: 88px;

  }
  .col1{
    margin-top: 1px;
  }
  .col2{
    margin-top: 20px;
  }


  }

  @media(max-width:840px){

    .ab-para{
      width: 340px;
      color: white;
      position: relative;
      left: 40px;
      top: 60px;
      font-size: 15px;
      text-align: justify;
  
    }
    .ab-img{
      width: 195px;
      position: relative;
      top: 105px;
      left: 130px;
      
    }
   
  .ab-me{
   text-align: center;
    color: wheat;
    font-size: 39px;
    position: relative;
    left: 180px;

  }
  .col1{
    margin-top: 1px;
  }
  .col2{
    margin-top: 20px;
  }


  }

  @media(max-width:575px){

    .ab-para{
      width: 500px;
      color: white;
      position: relative;
      left: 5px;
      top: 60px;
      font-size: 14px;
      text-align: justify;
  
    }
    .ab-img{
      width: 154px;
      position: relative;
      top: 95px;
      left: 133px;
      
    }
   
      
     
    .ab-me{
     text-align: center;
      color: wheat;
      font-size: 29px;
      position: relative;
      left: 162;

    }
    .col1{
      margin-top: 1px;
    }
    .col2{
      margin-top: 20px;
    }


  }





  /* Education & Experience */

  #Education{

    position: relative;
    top: 500px;
  }

  .h-edu{
    text-align: center;

  }
  .timeline{
    color: white;
    margin-top: 16px;
    background-color:#343B3C;
    border-radius: 20px;
    padding: 17px;
    height: 135px;
    width: 350px;
  }

  .right-cont{
    position: relative;
    left: 0%;

  }
  
  .left-con{
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;
  

  }
  .left2{
      position: relative;
      top: 150px;
  }
  .edu-arrow{
    width: 9px;
    height: 350px;
    background: yellow;
    position: absolute;
    left: 49.7%;
    border-radius: 14px;
    top: 31%;
  }

  .edu-cont{
    /* position: relative;
    left: ;
    width: 750px;
    top: 100px; */
  }

  
  
  @media (max-width:768px)
  {
    .h-edu{
      text-align: center;
  
    }
  .edu-arrow{

    display: none;
  } 
  .left2{
    position: relative;
    top: 0px;
  }

  
    .right-cont{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      
    }
    
    .left-con{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
    }
  
    .edu-cont{
      /* position: relative;
      /* left: 13%; */
      /* width: 750px;
      top: 100px; */
    } */
  
    

  }


  /* skillls section */


  #skills{
    position: relative;
    top: 695px;

  }
  .skill-div1{
    width: 75%;
    margin-left: 20px;

  }


  .skill-p{
    color: white;
    font-size: 21px;
    position: relative;
    top: 13px;
  }

  @keyframes loading{
    from{
      width: 0%;
      opacity: 0;
    }
    to{
      /* width: 80%; */
      opacity: 1;
    }
  }
  .skill-div2{
    width: 100%;
    background-color:#343B3C;
    border-radius: 20px;
    height: 10px;

  }

.skill-div3 {
    width: 80%;
    background-color: #FFCB3A;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    animation: loading 2s ;
    height: 10px;
}


  